/**
 * styles
 * 
 * @author Yauheni Svirydzenka <partagas@mail.ru>
 * @version 0.0.1
 * @copyright Yauheni Svirydzenka 2017
 */

.buttonContainerClass {
	background-color: #191919;
}

.resetFiltersContainerClass {
	background-color: #191919;
}

.headerContainerClass {
	border: none;
}

.headerIconContainerClass {
	background-color: #191919;
	border: none;
}

.changeLocaleClass {
	background-color: #191919;
	border: none;
}

.dividerClass {
	background-color: #191919;
	border: none;
}
